
.character .thumbnail {
  transition: 0.5s;
}

.character .thumbnail:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.character .thumbnail .avatar {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.character .details {
  min-height: 200px;
}

.character .name {
  font-size: 1.2em;
}